  .mainContainer {width: 100%; height: 100%; display: flex; flex-direction: column;}
  .mainSelectBlock {width:680px; height: auto; margin-left: 8px;}
  .headerTxt { display: flex; flex:0 0 auto; align-items: center; justify-content: center;}
  .headerTxt h3 {font-size: 18px; font-weight: 400; text-align: center;}
  .selectBlock {display: flex; flex-direction: column; margin-bottom: 30px;}
  .selectField { display: flex; border-top: 1px solid #000;  border-right: 1px solid #000;  border-left: 1px solid #000;  position: relative;}
  .selectField .selectFieldLocation{ border-right: 1px solid #000; position: relative; padding:12px; width:90%; pointer-events: none;}
  .selectFieldCaretDownicon{
    border-left: 12px solid transparent; border-right:12px solid transparent; border-top: 12px solid #000; border-bottom: 12px solid transparent; pointer-events: none;
    top:43%; right:10px; width: 0; height: 0; padding: 0;z-index:0;
  }
  .selectList {position:relative; display: flex; flex:1; flex-direction: column; border:1px solid #000; padding:14px 14px 0px 14px;}
  .searchInput {display: flex; flex:0 0 auto;}
  .searchInput input {width:100%; padding:8px 16px; font-size: 16px; padding-left:30px; border-radius: 8px; border:1px solid #000; }
  .searchInput input:focus { outline: none;}
  .searchList {display: flex; flex:0 0 auto; position:relative;}
  .searchList ul {display: flex; flex-direction: column; padding:0; margin:8px 0;}
  .searchList ul li {display: flex; list-style-type: none; padding: 8px 0; margin:0; cursor: pointer;}
  .searchList li button, span {position: absolute; right: 0px; padding: 4px; cursor: pointer}
  .searchIcon {position: absolute; left:8px; padding:8px 16px;}

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px; 
  }
